Repository django-getpaid/django-getpaid: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, check-toml, check-yaml, ty

ruff:
  name: ruff
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system

check-toml:
  name: check-toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: check-yaml
  entry: uv run check-yaml
  language: system

ty:
  name: ty
  entry: uv run ty check
  language: system
  pass_filenames: false

ci: add pip-audit dependency vulnerability scanning
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: check-toml, check-yaml

feat(e2e): implement Playwright E2E tests for payment flow (DJANGO-012)
  Dockerfile.test
  Makefile
  compose.test.yml
  example/orders/management/__init__.py
  example/orders/management/commands/__init__.py
  example/orders/management/commands/create_e2e_user.py
  getpaid/forms.py
  getpaid/views.py
  pyproject.toml
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_e2e_paynow.py
  tests/settings.py
Due: ruff, ruff-format, check-toml, check-yaml, ty

classifiers: bump Development Status from Alpha to Production/Stable
  pyproject.toml
Due: check-toml

deps: bump inter-repo dependencies from >=3.0.0a4 to >=3.0.0
  pyproject.toml
Due: check-toml

changelog: add v3.0.0 stable release entry
  docs/changelog.md
Due: none

ci: add release.yml workflow for PyPI publishing
  .github/workflows/release.yml
Due: check-yaml

docs: remove alpha/pre-release warnings from README and getting-started
  README.md
  docs/getting-started.md
Due: none

docs: fix stale PyPI names, install commands, and version constraints
  README.md
  docs/migration-v2-to-v3.md
  docs/plugin-catalog.md
Due: none

docs: fix remaining stale PyPI names in getting-started and plugin-catalog
  docs/getting-started.md
  docs/plugin-catalog.md
Due: none

tests: update version assertion to 3.0.0
  tests/test_public_api.py
Due: ruff, ruff-format, ty

ci: fix version detection for dynamic hatch versions + add release-drafter config
  .github/release-drafter.yml
  .github/workflows/release.yml
Due: check-yaml

feat(django): update example app, fix types, add unique payment migration, update version
  example/orders/forms.py
  example/orders/models.py
  example/orders/templates/home.html
  getpaid/__init__.py
  getpaid/abstracts.py
  getpaid/backends/dummy/processor.py
  getpaid/migrations/0007_unique_non_failed_payment_per_order.py
  getpaid/types.py
  tests/test_abstracts.py
  tests/test_forms.py
Due: ruff, ruff-format, ty

gitignore: add staticfiles/ to exclude Django collectstatic output
  .gitignore
Due: none

fix(types): replace enum inheritance with composition to support Python 3.14
  getpaid/types.py
Due: ruff, ruff-format, ty

bump version to 3.0.1 — Python 3.14 enum compatibility fix
  docs/changelog.md
  getpaid/__init__.py
Due: ruff, ruff-format, ty

refactor: consolidate payment operation pipeline by removing runtime.py
  getpaid/abstracts.py
  getpaid/backends/dummy/processor.py
  getpaid/processor.py
  getpaid/runtime.py
  getpaid/views.py
  tests/test_abstracts.py
  tests/test_async_runtime.py
Due: ruff, ruff-format, ty

refactor(types): replace enum-wrapper metaclass with flat core re-export
  example/paywall/models.py
  example/paywall/views.py
  getpaid/__init__.py
  getpaid/abstracts.py
  getpaid/types.py
  tests/test_deprecated_cleanup.py
  tests/test_reexports.py
  tests/test_registry.py
Due: ruff, ruff-format, ty

refactor(bridge): consolidate async-sync bridge into single ProcessorBridge seam
  getpaid/abstracts.py
  getpaid/adapters.py
  getpaid/bridge.py
  getpaid/views.py
  tests/test_bridge.py
Due: ruff, ruff-format, ty

refactor(django): remove dead utils, clean up types
  getpaid/types.py
  getpaid/utils.py
  tests/test_utils.py
Due: ruff, ruff-format, ty

refactor(django): consolidate adapter orchestration behind _DjangoPaymentFlow
  getpaid/abstracts.py
  getpaid/views.py
Due: ruff, ruff-format, ty

refactor(django): replace _DjangoPaymentFlow with thin DjangoPaymentFlowAdapter
  getpaid/abstracts.py
  getpaid/flow_adapter.py
  getpaid/processor.py
  tests/test_abstracts.py
  tests/test_flow_adapter.py
Due: ruff, ruff-format, ty

chore: bump version 3.0.1 → 3.1.0
  getpaid/__init__.py
Due: ruff, ruff-format, ty

release: bump version 3.1.0 → 3.2.0
  .github/workflows/release.yml
  Makefile
  docs/changelog.md
  example/example/settings.py
  example/orders/management/commands/create_e2e_user.py
  example/orders/migrations/0006_custompayment_provider_data.py
  example/orders/migrations/0007_alter_custompayment_external_id_alter_order_name_and_more.py
  example/paywall/views.py
  getpaid/__init__.py
  getpaid/abstracts.py
  getpaid/admin.py
  getpaid/apps.py
  getpaid/backends/dummy/processor.py
  getpaid/bridge.py
  getpaid/checks.py
  getpaid/flow_adapter.py
  getpaid/forms.py
  getpaid/migrations/0008_alter_payment_external_id.py
  getpaid/templates/getpaid/base.html
  getpaid/templates/getpaid/payment_failed.html
  getpaid/templates/getpaid/payment_success.html
  getpaid/types.py
  getpaid/views.py
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_e2e_paynow.py
  tests/test_abstracts.py
  tests/test_admin_actions.py
  tests/test_bridge.py
  tests/test_callback_view.py
  tests/test_flow_adapter.py
  tests/test_payment_ownership.py
  tests/test_public_api.py
  tests/test_reexports.py
  tests/test_registry.py
  tests/test_repository_async.py
  tests/test_system_checks.py
  tests/test_views.py
Due: ruff, ruff-format, check-toml, check-yaml, ty

fix(ci): commit uv.lock so 'uv sync --frozen' works on CI
  .gitignore
  uv.lock
Due: none

fix(ci): adapt to core 3.2.0, fix pip-audit self-audit
  .github/workflows/ci.yml
  example/orders/migrations/0008_alter_custompayment_status.py
  getpaid/migrations/0009_alter_payment_status.py
  getpaid/types.py
  tests/test_dummy_backend.py
  tests/test_reexports.py
  uv.lock
Due: ruff, ruff-format, check-yaml, ty

feat(callback): add paymentless/global webhook callback view
  getpaid/urls.py
  getpaid/views.py
  tests/test_global_callback_view.py
Due: ruff, ruff-format, ty

release: bump version 3.2.0 → 3.2.1
  docs/changelog.md
  getpaid/__init__.py
Due: ruff, ruff-format, ty

feat(storage): seed durable facts from locked legacy payments
  getpaid/durable_codec.py
  getpaid/durable_models.py
  getpaid/durable_repository.py
  getpaid/migrations/0010_durablepaymentstate_durableoperation_durablereplay.py
  getpaid/models.py
  tests/test_durable_repository.py
Due: ruff, ruff-format, ty

feat(storage): persist reservations submission claims and recovery evidence
  getpaid/durable_codec.py
  getpaid/durable_repository.py
  tests/test_durable_repository.py
Due: ruff, ruff-format, ty

feat(storage): atomically commit observations replay and audited resolution
  getpaid/durable_repository.py
  tests/test_durable_repository.py
Due: ruff, ruff-format, ty

feat(storage): validate explicit seeds and pass core conformance on SQLite
  getpaid/durable_repository.py
  tests/test_durable_repository.py
Due: ruff, ruff-format, ty

fix(storage): support implicit swappable defaults and verify evidence guards
  getpaid/migrations/0010_durablepaymentstate_durableoperation_durablereplay.py
  tests/test_durable_storage_guards.py
Due: ruff, ruff-format, ty

fix(storage): preserve timezone identity and fold in durable timestamps
  getpaid/durable_codec.py
  getpaid/durable_models.py
  getpaid/durable_repository.py
  tests/test_durable_repository.py
Due: ruff, ruff-format, ty

test(storage): verify process races rollback and downstream database placement
  getpaid/durable_repository.py
  tests/durable_test_app/__init__.py
  tests/durable_test_app/migrations/0001_initial.py
  tests/durable_test_app/migrations/__init__.py
  tests/durable_test_app/models.py
  tests/settings_durable.py
  tests/test_durable_custom_model.py
  tests/test_durable_postgres.py
  tests/test_durable_repository.py
  tests/test_durable_storage_guards.py
Due: ruff, ruff-format, ty

docs(storage): specify next-major cutover schema and verification limits
  docs/durable-storage.md
  docs/index.md
  tests/test_durable_codec.py
  tests/test_durable_storage_guards.py
Due: ruff, ruff-format, ty

refactor(storage): type the durable repository public API
  getpaid/durable_repository.py
Due: ruff, ruff-format, ty

docs(storage): name legacy uniqueness in durable cutover
  docs/durable-storage.md
Due: none

fix(types): expose upcoming partial-refund status in Django choices
  docs/durable-storage.md
  example/orders/migrations/0009_alter_custompayment_status.py
  example/paywall/migrations/0005_alter_paymententry_payment_status.py
  getpaid/migrations/0011_alter_payment_status.py
  getpaid/types.py
  tests/durable_test_app/migrations/0002_alter_payment_status.py
Due: ruff, ruff-format, ty

feat(storage): persist recorded money plans and ordered evidence
  getpaid/durable_codec.py
  getpaid/durable_models.py
  getpaid/durable_repository.py
  getpaid/migrations/0012_durablerecordedmoneyentry.py
  getpaid/models.py
  tests/test_recorded_money.py
Due: ruff, ruff-format, ty

fix(storage): enforce recorded source ownership at mutation boundaries
  getpaid/durable_repository.py
  tests/test_recorded_money.py
Due: ruff, ruff-format, ty

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
