Repository django-getpaid/django-getpaid: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, poetry-check

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

Update test config
  README.rst
  coverage.xml
  docs/installation.rst
  poetry.lock
  pyproject.toml
  tox.ini
Due: check-toml, poetry-check

feat: rewrite django-getpaid v3 as thin adapter over getpaid-core
  docs/plans/2026-02-13-django-getpaid-v3-design.md
  docs/plans/2026-02-13-django-getpaid-v3-implementation.md
  example/example/settings.py
  example/orders/migrations/0005_remove_fsm_fields.py
  example/orders/signals.py
  example/paywall/migrations/0002_auto_20200417_2107.py
  example/paywall/migrations/0004_remove_fsm_fields.py
  example/paywall/models.py
  example/paywall/views.py
  getpaid/__init__.py
  getpaid/abstracts.py
  getpaid/backends/dummy/__init__.py
  getpaid/backends/dummy/apps.py
  getpaid/backends/dummy/processor.py
  getpaid/exceptions.py
  getpaid/migrations/0002_auto_20200417_2107.py
  getpaid/migrations/0003_remove_fsm_fields.py
  getpaid/processor.py
  getpaid/registry.py
  getpaid/status.py
  getpaid/types.py
  getpaid/views.py
  pyproject.toml
  tests/test_abstracts.py
  tests/test_deprecated_cleanup.py
  tests/test_dummy_backend.py
  tests/test_fsm.py
  tests/test_integration.py
  tests/test_processor.py
  tests/test_reexports.py
  tests/test_registry.py
Due: check-toml, poetry-check

chore: move internal plan docs from docs/plans/ to .plans/
  .plans/2026-02-13-django-getpaid-v3-design.md
  .plans/2026-02-13-django-getpaid-v3-implementation.md
  .plans/2026-02-13-documentation-overhaul.md
  README.md
  main.py
  pyproject.toml.old
Due: none

docs: update Sphinx config to MyST/furo, add requirements.txt
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, poetry-check

docs: convert all docs from RST to Markdown, update for v3
  docs/catalog.rst
  docs/changelog.rst
  docs/configuration.md
  docs/customization.md
  docs/customization.rst
  docs/getting-started.md
  docs/index.md
  docs/index.rst
  docs/installation.rst
  docs/plugin-catalog.md
  docs/plugins.md
  docs/plugins.rst
  docs/registry.md
  docs/registry.rst
  docs/roadmap.md
  docs/roadmap.rst
  docs/settings.rst
Due: none

docs: add v2 to v3 migration guide
  docs/migration-v2-to-v3.md
Due: none

docs: add API reference with autodoc
  docs/api/index.md
Due: none

docs: create unified changelog with v3 entry
  docs/changelog.md
Due: none

docs: rewrite README.md, remove RST version
  README.md
  README.rst
Due: none

docs: update contributing guide, remove old RST files, fix example README
  CONTRIBUTING.rst
  HISTORY.rst
  HISTORY_OLD.rst
  docs/contributing.md
  example/README.md
Due: none

chore: clean up stale files, fix Sphinx warnings, verify docs build
  MANIFEST.in
  docs/conf.py
  docs/customization.md
  docs/plugins.md
  docs/registry.md
Due: none

chore: update dependency name to python-getpaid-core
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

chore: update getpaid-core GitHub URLs to python-getpaid-core repo
  README.md
  docs/changelog.md
  docs/index.md
Due: none

chore: release-readiness fixes for v3.0.0a1
  AUTHORS.md
  AUTHORS.rst
  README.md
  docs/changelog.md
  docs/conf.py
  docs/getting-started.md
  docs/migration-v2-to-v3.md
  example/orders/migrations/0003_fix_amount_refunded_precision.py
  example/orders/migrations/0004_fix_amount_locked_verbose_name.py
  main.py
  manage.py
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

chore: add ty type checker with zero-error compliance
  .gitignore
  .pre-commit-config.yaml
  example/orders/__init__.py
  example/paywall/__init__.py
  getpaid/abstracts.py
  getpaid/backends/dummy/processor.py
  getpaid/processor.py
  getpaid/types.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, poetry-check

chore: replace local path dep with PyPI reference for python-getpaid-core
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

build(versioning): switch to hatchling dynamic versioning
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

build(version): bump to 3.0.0a2, update cross-deps and PyPI metadata
  getpaid/__init__.py
  pyproject.toml
Due: check-toml, poetry-check

feat(adapters): add callback adapter to bridge sync Django views to async core processors
  getpaid/adapters.py
  getpaid/views.py
  tests/test_callback_adapter.py
Due: none

ci: add GitHub Actions workflow
  .github/workflows/ci.yml
Due: check-yaml

feat(example): add multiple backends, error templates, and enhanced docs
  .sisyphus/evidence/task-2-build-django.txt
  .sisyphus/evidence/task-2-metadata-inventory.txt
  .sisyphus/evidence/task-2-pytest-django.txt
  example/README.md
  example/example/settings.py
  example/templates/getpaid/payment_expired.html
  example/templates/getpaid/payment_failed.html
  example/templates/getpaid/payment_success.html
Due: none

docs: add PyPI-ready README
  README.md
Due: none

refactor(django): align adapter with semantic payment flow
  README.md
  docs/migration-v2-to-v3.md
  docs/plugins.md
  example/orders/migrations/0006_custompayment_provider_data.py
  getpaid/abstracts.py
  getpaid/adapters.py
  getpaid/backends/dummy/processor.py
  getpaid/migrations/0004_payment_provider_data.py
  getpaid/processor.py
  getpaid/registry.py
  getpaid/repository.py
  getpaid/runtime.py
  getpaid/views.py
  tests/test_abstracts.py
  tests/test_callback_adapter.py
  tests/test_dummy_backend.py
  tests/test_fsm.py
  tests/test_integration.py
  tests/test_processor.py
Due: none

build(version): bump django adapter to 3.0.0a3
  README.md
  docs/changelog.md
  docs/getting-started.md
  docs/migration-v2-to-v3.md
  getpaid/__init__.py
  pyproject.toml
  tests/test_public_api.py
Due: check-toml, poetry-check

Fix .gitignore and old files
  .gitignore
  pyproject.toml
  pyproject.toml.old
  uv.lock
Due: check-toml, poetry-check

fix(migrations): guard default payment schema drift
  .github/workflows/ci.yml
  getpaid/abstracts.py
  getpaid/migrations/0005_alter_payment_amount_locked_and_more.py
  getpaid/processor.py
  pyproject.toml
  tests/default_order_app/__init__.py
  tests/default_order_app/apps.py
  tests/default_order_app/migrations/0001_initial.py
  tests/default_order_app/migrations/__init__.py
  tests/default_order_app/models.py
  tests/settings_default_payment.py
  tests/test_migration_checks.py
  tests/test_reexports.py
  tests/urls_default_payment.py
Due: check-toml, check-yaml, poetry-check

fix(django): secure payment creation flow
  getpaid/abstracts.py
  getpaid/forms.py
  getpaid/registry.py
  getpaid/validators.py
  getpaid/views.py
  tests/test_abstracts.py
  tests/test_forms.py
  tests/test_registry.py
  tests/test_views.py
Due: none

test(django): add docker-backed integration harness
  .dockerignore
  Dockerfile.test
  Makefile
  compose.test.yml
  pyproject.toml
  tests/database.py
  tests/settings.py
  tests/settings_default_payment.py
  tests/test_database_settings.py
Due: check-toml, check-yaml, poetry-check

ci(django): run docker integration job
  .github/workflows/ci.yml
Due: check-yaml

bump(version)
  getpaid/__init__.py
Due: none

build(version): align django adapter with 3.0.0a4
  README.md
  docs/changelog.md
  docs/getting-started.md
  docs/migration-v2-to-v3.md
  tests/test_public_api.py
Due: none

build(deps): require core 3.0.0a4
  pyproject.toml
  tests/test_public_api.py
Due: check-toml, poetry-check

fix(django): document CSRF exemption; clarify async bridge behavior
  getpaid/runtime.py
  getpaid/views.py
Due: none

fix(django): guard against missing context_data in REST response
  getpaid/abstracts.py
Due: none

fix(django): add unique constraint on payment.external_id
  getpaid/abstracts.py
  getpaid/migrations/0006_payment_unique_external_id.py
Due: none

fix(django): support both slug and module path for backend settings
  getpaid/processor.py
Due: none

feat(django): add admin actions for charge, release-lock, refund
  getpaid/admin.py
Due: none

feat(django): harden callbacks and align paynow integration
  docs/configuration.md
  docs/plugins.md
  getpaid/__init__.py
  getpaid/abstracts.py
  getpaid/adapters.py
  getpaid/async_runner.py
  getpaid/callback_security.py
  getpaid/migrations/0006_payment_unique_external_id.py
  getpaid/repository.py
  getpaid/runtime.py
  getpaid/urls.py
  getpaid/views.py
  pyproject.toml
  tests/test_async_runtime.py
  tests/test_migration_checks.py
  tests/test_paynow_integration.py
  tests/test_processor.py
  tests/test_public_api.py
  tests/test_repository_async.py
  tests/test_views.py
Due: check-toml, poetry-check

fix(django): support wrapped async callbacks locally
  Makefile
  getpaid/adapters.py
  getpaid/async_detection.py
  getpaid/runtime.py
  tests/test_async_runtime.py
  tests/test_callback_adapter.py
  tests/test_processor.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  poetry-check: any of: ^(.*/)?pyproject\.toml$
